body {
  color: #000;
  font-family: cursive;
}

.main {
  padding: 2em 4em;
  align-items: center;
  min-height: 80vh;
  border: solid 1px #000;
  border-radius: 16px;
  margin: 2em 6em;
  box-shadow: 5px 5px 5px 5px #000;
}

h1 {
  font-size: 3em;
  margin: 0.2em 0.4em 0.4em;
}

h2 {
  font-size: 2em;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  gap: 1em;
  flex-wrap: wrap;
}

.scoretitle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input,
button {
  margin: 0.5em;
}

input {
  border: 2px solid #000;
  padding: 0.5em 1em;
  width: 80%;
  height: 4em;
  align-self: flex-end;
  border-radius: 4px;
}

ul {
  list-style: none;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.scores-list :nth-child(even) {
  background-color: #ddd;
}

li {
  width: calc(100% - 0.6em);
  padding: 0.3em;
  margin: 0;
}

button {
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px #000;
  border-radius: 4px;
  width: 7em;
  height: 2.5em;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.scores-container,
.form-container {
  width: 100%;
  border: 1px solid #ddd;
  padding: 2em;
  border-radius: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.submit-button {
  align-self: flex-end;
}

footer,
header {
  height: 3em;
  border: solid 1px #ddd;
  background-color: #ddd;
}

header {
  height: 4em;
  box-shadow: 0 3px 3px #000;
}

@media screen and (min-device-width: 768px) {
  .scores-container,
  .form-container {
    width: 50%;
  }

  .content {
    flex-wrap: nowrap;
  }
}
